{% load date_format %}
{% load markup %}
{% load i18n %}


<div class="post {% if post.is_op %}post--op{% endif %} js-post" id="post-{{ post.id }}" data-id="{{ post.id }}" data-hid="{{ post.hid2hex }}">
    <div class="post__anchor" id="{{ post.hid2hex }}"></div>

    <div class="post__header">
        {# HID #}
        <a class="post__hid hid js-post-hid" data-id="{{ post.id }}" href="{{ post.get_absolute_url }}" >{{ post.hid2hex }}</a>

        {# Title #}
        {% if post.title %}
            <span class="post__title">{{ post.title }}</span>
        {% endif %}

        {# Author #}
        <span class="post__author {% if post.created_by %}post__author--admin{% endif %}">
            {% if post.created_by %}
                 {{ post.created_by }}
            {% elif post.author %}
                 {{ post.author }}
            {% else %}
                {{ board.default_username }}
            {% endif %}
        </span>

        {# Created at #}
        <span class="post__date">
            {{ post.created_at|date:config.DATE_TIME_FORMAT }}
        </span>

        {# Buttons and icons #}
        <span class="post__icons-and-buttons">
            {% if not is_popup %}
                {% if post.is_op %}
                    <button
                        class="post__button post__button--toggle icon js-toggle-thread"
                        data-id="{{ thread.id }}" data-hid="{{ thread.hid2hex }}" title="{% trans "Hide thread" %}"
                    >close</button>

                    {% if request.user.is_superuser %}
                        <a
                            class="post__button post__button--admin"
                            href="{% url 'admin:imageboard_thread_change' object_id=thread.id %}"
                            title="{% trans "Open admin panel" %}"
                        >T</a>
                    {% endif %}
                {% else %}
                    <button
                        class="post__button post__button--toggle icon js-toggle-post"
                        data-id="{{ post.id }}" data-hid="{{ post.hid2hex }}" title="{% trans "Hide post" %}"
                    >close</button>

                    {% if request.user.is_superuser %}
                        <a
                            class="post__button post__button--admin"
                            href="{% url 'admin:imageboard_post_change' object_id=post.id %}"
                            title="{% trans "Open admin panel" %}"
                        >P</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </span>
    </div>


    <div class="post__body {% if post.images.count == 1 %}post__body--flexible{% endif %}">
        {% if post.images.count > 0 %}
            <div class="post__images {% if post.images.count > 1 %}post__images--multiple{% endif %}">
                {% for image in post.images.all %}
                    <a
                        class="post__image-wrap"
                        href="{{MEDIA_URL}}{{image.path}}"
                        target="_blank"
                        data-lightbox="{{ post.id }}"
                        data-alt="{{ image.original_name }}"
                        data-title="{{ image.original_name }} :: {{ image.width }}x{{ image.height }} :: {{ image.size|filesizeformat }}"
                    >
                        <img
                            class="post__image"
                            src="{{MEDIA_URL}}{{image.thumb_path}}"
                            alt="{{ image.original_name }}"
                            width="{{ image.thumb_width }}"
                            height="{{ image.thumb_height }}"
                            title="{{ image.original_name }} :: {{ image.width }}x{{ image.height }} :: {{ image.size|filesizeformat }}"
                        />
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        {% if post.text %}
            <div class="post__text">
                {% markup text=post.text board=board thread=thread post=post %}
            </div>
        {% endif %}
    </div>

    <div class="post__footer">
        {% if post.user_was_banned %}
            <div class="post__admin-message">{% trans "User was banned" %}</div>
        {% endif %}

        {% if post.user_was_warned %}
            <div class="post__admin-message">{% trans "User was warned" %}</div>
        {% endif %}

        {% if post.replies %}
            <div class="post__replies">
                {% trans "Replies" %}:
                {% for reply in post.replies %}
                    <a
                        class="post__reply js-ref"
                        href="{{ reply.get_absolute_url }}"
                    >&gt;&gt;{{ reply.hid2hex }}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if post.is_op %}
        <div class="thread-info">
            {% if page_type == 'board_page' %}
                <a class="thread-info__item" href="{{ thread.get_absolute_url }}">
                    <span class="thread-info__icon icon">subdirectory_arrow_right</span>
                    {% trans "Open thread" %}
                </a>
            {% endif %}

            <span class="thread-info__item">
                <i class="thread-info__icon icon">chat_bubble_outline</i>
                {% trans "Posts" context "number of posts" %}: {{ thread.posts_count }}
            </span>

            <span class="thread-info__item">
                <i class="thread-info__icon icon">arrow_upward</i>
                {% trans "Limit" %}: {{ thread.max_posts_num }}
            </span>

            {% if thread.is_sticky %}
                <span class="thread-info__item">
                    <i class="thread-info__icon icon">bookmark_border</i>
                    {% trans "Sticky" %}
                </span>
            {% endif %}

            {% if thread.is_locked %}
                <span class="thread-info__item">
                    <i class="thread-info__icon icon">lock</i>
                    {% trans "Locked" %}
                </span>
            {% endif %}
        </div>
    {% endif %}

</div>
