{% load num2hex %}
{% load date_format %}
{% load markup %}

{% if post.is_deleted %}
    <div class="post post--deleted" id="post-{{ post.id }}">
        <div class="post__anchor" id="0x{{ thread.hid|num2hex }}{{ post.hid|num2hex }}"></div>

        <div class="post__deleted-label">
            <span class="post__hid" >
                0x{{ thread.hid|num2hex }}{{ post.hid|num2hex }}
            </span>
            Пост  удален.
        </div>
    </div>
{% else %}
    <div class="post" id="post-{{ post.id }}" data-id="{{ post.id }}" data-hid="0x{{ thread.hid|num2hex }}{{ post.hid|num2hex }}">
        <div class="post__anchor" id="0x{{ thread.hid|num2hex }}{{ post.hid|num2hex }}"></div>

        <div class="post__header">
            <a class="post__hid" href="{% url 'thread_page' board_hid=board.hid thread_hid=thread.hid %}#0x{{ thread.hid|num2hex }}{{ post.hid|num2hex }}">
                0x{{ thread.hid|num2hex }}{{ post.hid|num2hex }}
            </a>

            <span class="post__date">
                {{ post.created_at|date:config.DATE_TIME_FORMAT }}
            </span>

            от

            <span class="post__author {% if post.author %}post__author--custom{% endif %}">
                {% if post.author %}
                     {{ post.author }}
                {% else %}
                    {{ board.default_username }}
                {% endif %}
            </span>

            [<a class="post__reply-link" href="{% url 'thread_page' board_hid=board.hid thread_hid=thread.hid %}#0x{{ thread.hid|num2hex }}{{ post.hid|num2hex }}">Ответ</a>]


            <div class="post__icons-and-buttons">

                {% if post.is_op and thread.is_locked %}
                    <i class="post__icon post__icon--sticky icon" title="Тред закрыт">lock</i>
                {% endif %}

                {% if post.is_op and thread.is_sticky %}
                    <i class="post__icon post__icon--sticky icon" title="Тред закреплен">bookmark</i>
                {% endif %}

                {% if post.is_op %}
                    <button
                        class="post__button post__button--toggle icon js-toggle-thread"
                        data-id="{{ thread.id }}" data-hid="0x{{ thread.hid|num2hex }}000" title="Скрыть тред"
                    >close</button>
                {% else %}
                    <button
                        class="post__button post__button--toggle icon js-toggle-post"
                        data-id="{{ post.id }}" data-hid="0x{{ thread.hid|num2hex }}{{ post.hid|num2hex }}" title="Скрыть пост"
                    >close</button>
                {% endif %}
            </div>

            {% if post.title %}
                <div class="post__title">{{ post.title }}</div>
            {% endif %}
        </div>

        {% if post.images.count > 0 %}
            <div class="post__images {% if post.images.count > 1 %}post__images--multiple{% endif %}">
                {% for image in post.images.all %}
                    <a
                        class="post__image-wrap"
                        href="{{MEDIA_URL}}{{image.path}}"
                        target="_blank"
                        data-lightbox="{{ post.hid }}"
                    >
                        <img
                            class="post__image"
                            src="{{MEDIA_URL}}{{image.thumb_path}}"
                            alt="{{ image.original_name }}"
                            width="{{ image.thumb_width }}"
                            height="{{ image.thumb_height }}"
                        />
                    </a>
                {% endfor %}
            </div>
        {% endif %}

        <div class="post__text">
            {% markup text=post.text board_hid=board.hid thread_hid=thread.hid post_hid=post.hid %}
        </div>

        <div class="post__footer"></div>

        {% if request.user.is_superuser %}
            {% if post.is_op %}
                <a class="post__admin" href="{% url 'admin:imageboard_thread_change' object_id=thread.id %}">T</a>
            {% else %}
                <a class="post__admin" href="{% url 'admin:imageboard_post_change' object_id=post.id %}">P</a>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
