{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ config.SITE_NAME }} :: {{ title }}</title>

    <link rel="icon" href="{% static "imageboard/favicon.png" %}">
    <link rel="stylesheet" href="{% static 'imageboard/style.css' %}">
</head>
<body>
<div class="error-page">
    <div class="error-page__header">
        {% block header %}
            <span class="error-page__code">{% block code %}{% endblock %}</span>
            <span class="error-page__title">{% block title %}{% endblock %}</span>
        {% endblock %}
    </div>

    <div class="error-page__reason">
        {% block message %}{% endblock %}
    </div>
</div>
</body>
</html>
