{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block page_title %}Gensokyo Imageboard{% endblock %}</title>

    <link rel="icon" href="{% static "imageboard/favicon.png" %}">
    <link rel="stylesheet" href="{% static 'imageboard/style.css' %}">

    {# Lightbox #}
    <link rel="stylesheet" href="{% static "assets/lightbox/css/lightbox.css" %}">
</head>
<body>
    {% block main %}
        <div class="app" id="app">
            <div class="app__header">
                {% block header %}{% endblock%}
            </div>

            <div class="app__content js-content">
                {% block content %}{% endblock%}
            </div>

            <div class="app__footer">
                {% block footer %}{% endblock%}
            </div>

            {% if request.user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="app__admin">admin</a>
            {% endif %}
        </div>
    {% endblock %}

    <div id="templates">
        {% block js_templates %}{% endblock %}
    </div>

    <div id="scripts">
        <script defer src="{% static "assets/underscore/underscore.js" %}"></script>
        <script defer src="{% static "assets/jquery/jquery.min.js" %}"></script>
        <script defer src="{% static "assets/lightbox/js/lightbox.js" %}"></script>

        <script defer src="{% static "imageboard/main.js" %}"></script>
        {% block page_script %}{% endblock %}
    </div>
</body>
</html>
