{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">

    <title>{% block page_title %}Hexchan{% endblock %}</title>

    <link rel="icon" href="{% static "favicon.png" %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {# Lightbox #}
    <link rel="stylesheet" href="{% static "libs/lightbox/css/lightbox.css" %}">
    {% block page_style %}{% endblock %}
</head>
<body>
    {% block main %}
        <div class="app" id="app">
            <div class="app__header">
                {% block header %}{% endblock%}
            </div>

            <div class="app__content js-content">
                {% block content %}{% endblock%}
            </div>

            <div class="app__footer">
                {% block footer %}{% endblock%}
            </div>

            {% if request.user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="app__admin">admin</a>
            {% endif %}
        </div>
    {% endblock %}

    <div id="templates">
        {% include 'imageboard/parts/js_templates.html' %}
        {% block js_templates %}{% endblock %}
    </div>

    <div id="scripts">
        <script src="{% static "libs/underscore-min.js" %}"></script>
        <script src="{% static "libs/jquery.min.js" %}"></script>
        <script src="{% static "libs/js.cookie.js" %}"></script>
        <script src="{% static "libs/lightbox/js/lightbox.min.js" %}"></script>

        <script src="{% static "scripts.js" %}"></script>

        {% block page_script %}{% endblock %}
    </div>

    <div id="metadata">
        {% block metadata %}{% endblock %}
    </div>
</body>
</html>
