{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}Gensokyo Imageboard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'imageboard/style.css' %}">
</head>
<body>
    {% block main %}
        <div class="app" id="app">
            <div class="app__header">
                {% block header %}{% endblock%}
            </div>

            <div class="app__content js-content">
                {% block content %}{% endblock%}
            </div>

            <div class="app__footer">
                {% block footer %}{% endblock%}
            </div>

            {% if request.user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="app__admin">admin</a>
            {% endif %}
        </div>
    {% endblock %}
</body>
</html>
