{% extends 'imageboard/base.html' %}
{% load static %}

{% block page_title %}
    {{ config.SITE_NAME }} :: /{{ board.hid }}/ {{ board.name }}
{% endblock %}

{% block header %}
    {% include 'imageboard/parts/header.html' %}
{% endblock %}

{% block content %}
    {% include 'imageboard/parts/board_header.html' %}

    {% include 'imageboard/parts/posting_form.html' with form_type='new_thread' %}

    <div class="threads">
        {% for thread in threads %}
            {% include 'imageboard/parts/thread.html' with posts=thread.latest_posts %}

            {% if not forloop.last %}
                <div class="threads__thread-separator"></div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block footer %}
    {% include 'imageboard/parts/footer.html' with board_pages=threads %}
{% endblock %}

{% block page_script %}
    <script defer src="{% static "imageboard/hider.js" %}"></script>
{% endblock %}

{% block js_templates %}
    {% include 'imageboard/parts/js_templates.html' %}
{% endblock %}
