{% extends 'imageboard/base.html' %}
{% load static %}
{% load date_format %}
{% load markup %}
{% load multiply %}
{% load i18n %}


{% block page_title %}
    {{ config.SITE_NAME }} :: {{ board.name }} :: {% trans "Thread catalog" %}
{% endblock %}


{% block header %}
    {% include 'imageboard/parts/header.html' %}
{% endblock %}


{% block content %}
    {% include 'imageboard/parts/board_header.html' %}

    <div class="catalog">
        <div class="catalog__items">
            {% for thread in threads %}
                {% with op_post=thread.op  %}
                    <a
                        class="catalog-item js-thread"
                        href="{% url 'thread_page' board_hid=thread.board.hid thread_hid=thread.hid %}"
                        data-id="{{ thread.id }}"
                    >
                        <div class="catalog-item__header">
                            <span class="catalog-item__hid hid js-thread-hid" data-id="{{ thread.id }}">{{ thread.hid2hex }}</span>

                            <span class="catalog-item__info">
                                {% if thread.is_sticky %}
                                    <i class="catalog-item__icon icon" title="{% trans "Sticky" %}">bookmark_border</i>
                                {% endif %}

                                {% if thread.is_locked %}
                                    <i class="catalog-item__icon icon" title="{% trans "Locked" %}">lock</i>
                                {% endif %}

                                <span class="catalog-item__posts-count" title="{% trans "Posts" context "number of posts" %}: {{ thread.posts_count }}">
                                    <i class="catalog-item__posts-count-icon icon">chat_bubble_outline</i>
                                    {{ thread.posts_count }}
                                </span>
                            </span>
                        </div>

                        <div class="catalog-item__body">
                            {% with image=op_post.images.all|first  %}
                                {% if image %}
                                    <img
                                        class="catalog-item__image"
                                        src="{{MEDIA_URL}}{{image.thumb_path}}"
                                        alt="{{ image.original_name }}"
                                        width="{{ image.thumb_width|multiply:0.75 }}"
                                        height="{{ image.thumb_height|multiply:0.75 }}"
                                    />
                                {% else %}
                                    <div class="catalog-item__image catalog-item__image--empty">
                                        {% trans "No image available" %}
                                    </div>
                                {% endif %}
                            {% endwith %}

                            <div class="catalog-item__text">
                                <span class="catalog-item__title">
                                    {{ op_post.title }}
                                </span>
                                {% markup text=op_post.text board=board thread=thread post=op_post make_refs=False %}
                            </div>

                        </div>
                    </a>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block footer %}
    {% include 'imageboard/parts/footer.html' %}
{% endblock %}


{% block page_style %}
    <style>{{ board.custom_style }}</style>
{% endblock %}


{% block metadata %}
    {% if cache_data %}
        <div class="cache-data">
            {% trans "Page generated at" %} {{ cache_data.generated_at|date:config.DATE_TIME_FORMAT }}.
            {% trans "Board" %} {{ cache_data.board }} {% trans "updated at" context "board" %} {{ cache_data.updated_at|date:config.DATE_TIME_FORMAT }}.
        </div>
    {% endif %}
{% endblock %}
