{% extends 'imageboard/base.html' %}
{% load static %}
{% load i18n %}


{% block page_title %}
    {{ config.SITE_NAME }}
{% endblock %}


{% block header %}
    {% include 'imageboard/parts/header.html' %}
{% endblock %}


{% block content %}
    {% for board in boards %}
        {% if not board.is_hidden and not board.is_deleted %}
            {% include 'imageboard/parts/board_header.html' %}
        {% endif %}
    {% endfor %}
{% endblock %}


{% block page_style %}
    <style>
        {% for board in boards %}
            {% if not board.is_hidden and not board.is_deleted %}
                {{ board.custom_style }}
            {% endif %}
        {% endfor %}
    </style>
{% endblock %}
