{% extends 'imageboard/base.html' %}
{% load static %}
{% load i18n %}


{% block page_title %}
    {{ config.SITE_NAME }}
{% endblock %}


{% block header %}
    {% include 'imageboard/parts/header.html' %}
{% endblock %}


{% block content %}
    {% for board in boards %}
        {% if not board.is_hidden and not board.is_deleted %}
            <div class="board-block">
                {% include 'imageboard/parts/board_header.html' %}

                <div class="catalog">
                    <div class="catalog__items">
                        {% for thread in board.updated_threads %}
                            {% include 'imageboard/parts/catalog_item.html' with op_post=thread.op %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}


{% block page_style %}
    <style>
        {% for board in boards %}
            {% if not board.is_hidden and not board.is_deleted %}
                {{ board.custom_style }}
            {% endif %}
        {% endfor %}
    </style>
{% endblock %}
