{% extends "imageboard/base.html" %}
{% load static %}

{% block page_title %}
    {{ config.SITE_NAME }} :: /{{ board.hid }}/ {{ board.name }} :: {{ thread.hid }}
{% endblock %}

{% block header %}
    {% include 'imageboard/parts/header.html' %}
{% endblock %}

{% block content %}
    {% include 'imageboard/parts/board_header.html' %}

    {% if board.is_locked %}
        {% include 'imageboard/parts/lockdown.html' with type='board' %}
    {% elif thread.is_locked %}
        {% include 'imageboard/parts/lockdown.html' with type='thread' %}
    {% else %}
        {% include 'imageboard/parts/posting_form.html' with form_type='new_post' %}
    {% endif %}

    {% include 'imageboard/parts/thread.html' with posts=thread.posts.all %}
{% endblock %}

{% block footer %}
    {% include 'imageboard/parts/footer.html' %}
{% endblock %}

{% block page_script %}
    <script defer src="{% static "imageboard/hider.js" %}"></script>
{% endblock %}

{% block js_templates %}
    {% include 'imageboard/parts/js_templates.html' %}
{% endblock %}
